@{
    ViewData["Title"] = "Pagina Inicial";
}
<div>
<div class="text-center">
    <h1 class="display-4">Bem Vindo Novo Programador Web</h1>
    <p>While (true) { learn() }</a>.</p>
</div>
</div>

<div class="img-thumbnail">
    <img src="https://marketplace.canva.com/EADiXvagF_U/1/0/1600w/canva-azul-c%C3%ADrculos-rosa-e-amarelo-boas-vindas-cart%C3%A3o-eFIj9LkquVk.png" class="img-thumbnail" alt="https://marketplace.canva.com/EADiXvagF_U/1/0/1600w/canva-azul-c%C3%ADrculos-rosa-e-amarelo-boas-vindas-cart%C3%A3o-eFIj9LkquVk.png">
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Quem Somos?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>O futuro do desenvolvimento WEB!</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Os que pensam nas necessidades da nova era</td>
        </tr>
        <tr>
            <th scope="row">3</th>>
            <td>Os magos dos tempos digitais</td>
        </tr>
    </tbody>
</table>