<div style="font-family:Arial, Helvetica, sans-serif">
    <h1>Competências Dezenvolvidas</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Competência</th>
            <th scope="col">Dificuldade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td scope="row">Lógica de programação</td>
            <td>Easy</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td scope="row">Algoritmos</td>
            <td>Easy</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td scope="row">Expressões Aritméticas</tdscope="row">
            <td>Easy</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td scope="row">Variáveis e tipos</td>
            <td>Easy</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td scope="row">Padrão Camel Case</td>
            <td>Easy</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td scope="row">Estrutura Sequencial</td>
            <td>Moderade</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td scope="row">Estrutura Condicional</td>
            <td>Easy</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td scope="row">Estruturas Repetitivas</td>
            <td>Moderade</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td scope="row">Vetores</td>
            <td>????</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td scope="row">Matrizes</td>
            <td>Moderade</td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td scope="row">Debug</td>
            <td>Easy</td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td scope="row">Programação Orientação a Objetos</td>
            <td>Moderade</td>
        </tr>
        <tr>
            <th scope="row">13</th>
            <td scope="row">Classes</td>
            <td>Moderade</td>
        </tr>
        <tr>
            <th scope="row">14</th>
            <td scope="row">Métodos</td>
            <td>Moderade</td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td scope="row">Conexão da aplicação com o banco de dados</td>
            <td>Moderade</td>
        </tr>
        <tr>
            <th scope="row">16</th>
            <td scope="row">Testes Unitários</td>
            <td>Hard</td>
        </tr>
        <tr>
            <th scope="row">17</th>
            <td scope="row">Programação Web: MVC(Model - View - Controller)</td>
            <td>Hard</td>
        </tr>
        <tr>
            <th scope="row">18</th>
            <td scope="row">CRUD</td>
            <td>Moderade</td>
        </tr>
        <tr>
            <th scope="row">19</th>
            <td scope="row">Chamada de api</td>
            <td>Hard</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td scope="row">Uso do Git e Github</td>
            <td>Easy</td>
        </tr>
        <tr>
            <th scope="row">21</th>
            <td scope="row">Branch</td>
            <td>Easy</td>
        </tr>
        <tr>
            <th scope="row">22</th>
            <td scope="row">Publicar projeto</td>
            <td>Easy</td>
        </tr>
    </tbody>
</table>

