<div class="text-md-center">
    <div>
        <h1>Dados dos Professores</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Disciplina</th>
                <th scope="col">Dificuldade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Júnior</td>
                <td>Projeto Integrador</td>
                <td>Hard</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Nivaldo</td>
                <td>Banco de Dados</td>
                <td>Moderate</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Kátia</td>
                <td>Desenvolver Sistemas</td>
                <td>Extreme</td>
            </tr>
        </tbody>
    </table>
</div>