<div class="text-sm-left">
    <h1>
        Cadastrando Novo Aluno
    </h1>
    <hr class="border border-info border-3 opacity-100">
</div>

<div class="text-sm-left">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input class="form-control" id="nome" placeholder="seu nome">
    </div>

    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input class="form-control" id="nome" placeholder="seu nome">
    </div>

    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input class="form-control" id="nome" placeholder="seu nome">
    </div>

    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input class="form-control" id="nome" placeholder="seu nome">
    </div>

</div>
