<div class="text-left">
    <div>
        <h1>Dados dos Alunos</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">E-mail</th>
                <th scope="col">Contato</th>
                <th scope="col">CEP</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Cauã</td>
                <td>17</td>
                <td>cauabertolini@gmail.com</td>
                <td>(47) 991618044</td>
                <td>77435-893</td>
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary" type="button">Endereço</button>
                    </div>
                </td>
               


            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Nathan</td>
                <td>16</td>
                <td>nathan@gmail.com</td>
                <td>(47) 9849232123</td>
                <td>88024-093</td>
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary" type="button">Endereço</button>
                    </div>
                </td>


            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Rafael</td>
                <td>17</td>
                <td>rafa.el.22@gmail.com</td>
                <td>Null</td>
                <td>033129-547</td>
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary" type="button">Endereço</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="d-grid gap-2 d-md-flex justify-content-md-center" >
    <a class="btn btn-primary" type="button" asp-controller="Alunos" asp-action="Adicionar">Adicionar Aluno</a>
</div>